body{
  margin:0;
  background-color:bisque;
}

.blue_bg{
  background-color:blue;
}


.brisk_bg{
  background-color:red;
}

.black_bg{
  background-color:Black;
}
.white_bg{
  background-color:rgb(159, 151, 151);
}
